.app {
  display: flex;
  justify-content: space-around;
  min-width: 768px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 10px;
  border: 1px solid #e352d0;
  padding-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  color: #35a1e8;
}

.item {
  display: flex;
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  justify-content: center;

}
.draggable{
  background: gray;
}